/* Styles for Kleines Child Theme

Search for the terms in the Table of content, to find the info you are lookin for. 

____________________________________________________

TABLE OF CONTENT
1.0.0 - ROOT
    1.1.0 VARIABLES
        1.1.1 COLORS
        1.1.2 FONTS
2.0.0 - GENEREL STLING 
    2.1.0 - HEADERS H1-H3
        2.1.1 - LINE BY H2
    2.2.0 - P
    2.3.0 - A
    2.4.0 - BUTTONS
        2.4.1 PRIMARY BUTTON
        2.4.2 SECONDARY BUTTON
3.0.0 - HEADER
    3.1.0 - XXX
    3.2.0 - SEARCH MODULAR

4.0.0 - FOOTER

5.0.0 - PAGES
    5.1.0 - FONT PAGE
    5.2.0 - SMYKKER 
    5.3.0 - OM KLEINES
    5.4.0 - GAVEKORT TIL KLEINES
    5.5.0 - KONTAKT

6.0.0 - MEDIA Q MIN-WIDTH 500PX

7.0.0 - MEDIA Q MIN-WIDTH 767PX
    7.3.2.0 - SEARCH MODULAR
____________________________________________________

/*** 1.0.0 - ROOT ***/
* {
  /* 1.1.0 - VARIABLES */

  /* 1.1.1 - COLORS */
  --colwhite: #faf9f5;
  --colblack: #181e1a;
  --colyellow: #faf8ea;
  --colyellow: #faf8ea;
  --coldarkgreen: #2f605a;
  --colgold: #edd89d;
  --collightgreen: #a5c6be;
  --colpink: #fcd9d3;

  /* 1.1.2 - Fonts  */
  --header1_2: playfair-display, serif;
  --header3_p: montserrat, sans-serif;
  --fsize1: 48px;
  --fsize2: 40px;
  --fsize3: 24px;
  --fsizebut: 20px;
  --fsizep: 16px;

  scroll-behavior: smooth;

  box-sizing: border-box;

  font-size: 16px;

  /* pinterest_grid_variables */
  --card_width: 250px;
  --card_border_radius: 16px;
  --row_increment: 10px;
  --card_small: 26;
  --card_medium: 33;
  --card_large: 45;
}

/* 2.0.0 - GENEREL STYLING */

/* 2.1.0 - HEADERS H1-H3 */
h1,
.entry-content h1,
h1.entry-title {
  font-family: var(--header1_2);
  font-weight: 800;
  font-size: var(--fsize1);
  text-transform: uppercase;
  color: var(--coldarkgreen);
}

h2,
.entry-content h2,
#site-content .entry-content h2 {
  font-family: var(--header1_2);
  font-weight: 600;
  font-size: var(--fsize2);
  color: var(--coldarkgreen);
}

h3,
.entry-content h3 {
  font-family: var(--header3_p);
  font-weight: 600;
  font-size: var(--fsize3);
  text-transform: uppercase;
  color: var(--coldarkgreen);
}

/* 2.2.0 - P */
p,
.footer-credits p {
  font-family: var(--header3_p);
  font-weight: 400;
  font-size: var(--fsizep);
  color: var(--coldarkgreen);
  max-width: 65ch;
}

/* 2.3.0 - A */
a {
  font: var(--body);
  font-size: var(--fsizep);
  text-decoration: underline;
  color: var(--colgold);
  transition: all 0.25ms ease-in-out;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

/* 2.4.0 - BUTTONS */

/* 2.4.1 - PRIMARY BUTTON */

button.primary {
  border: none;
  background-color: var(--coldarkgreen);
  font-family: var(--header3_p);
  font-weight: 600;
  font-size: var(--fsizebut);
  color: var(--colgold);
  text-transform: uppercase;
  padding: 18px 32px;
  transition: all 0.25ms ease-in-out;
}
button.primary:hover,
button.primary:active,
button.primary:focus {
  border: 1px solid var(--coldarkgreen);
  background-color: var(--colgold);
  color: var(--coldarkgreen);
}

/* 2.4.2 - SECONDARY BUTTON */

button.secondary {
  border: var(--coldarkgreen);
  background-color: none;
  font-family: var(--header3_p);
  font-weight: 600;
  font-size: var(--fsizebut);
  font-size: var(--fsizebut);
  color: var(--coldarkgreen);
  padding: 18px 32px;
  transition: all 0.25ms ease-in-out;
}
button.secondary:hover,
button.secondary:active,
button.secondary:focus {
  border: 2px solid var(--colblack);
  color: var(---coldark);
}

/* 3.0.0 - HEADER */

#site-header.header-footer-group {
  background-color: var(--coldarkgreen);
}

/* 3.1.0 - XXX */

/* 3.2.0 - SEARCH MODULAR */

/* 3.2.1 SEARCH ICON */

.nav-toggle .toggle-icon svg path,
#site-header .search-toggle .toggle-icon svg path,
#site-header .search-toggle .toggle-inner svg path,
.toggle.close-nav-toggle.fill-children-current-color {
  fill: var(--colgold);
  color: var(--colgold);
}

.toggle.nav-toggle .toggle-inner span.toggle-text,
.toggle.search-toggle .toggle-inner span.toggle-text {
  color: var(--colgold);
}

/* 3.2.2 - MODULAR */

/* 3.2.2.1 - SEARCH MODULAR */

.search-modal {
  top: -9999rem;
  z-index: 100;
  transition: opacity 0.2s linear, left 0s 0.2s linear, top 0s 0.2s linear;
}

.search-modal.show-modal.active {
  top: 117.45px;
}

.search-modal.show-modal.active .search-modal-inner {
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 8%);
}

.search-modal-inner.modal-inner,
.menu-modal-inner.modal-inner {
  background-color: var(--coldarkgreen);
}

.search-modal-inner div.section-inner {
  justify-content: space-around;
}

.search-modal .search-form {
  justify-content: center;
}

.search-modal .search-form .search-field {
  background-color: var(--colwhite);
  font-family: var(--header3_p);
  font-size: var(--fsizep);
  text-transform: uppercase;
  width: 300px;
  height: 5rem;
  margin-block: 2rem;
  margin-inline-start: 20px;
  border: 2px solid var(--colgold);
}

.search-modal .search-form .search-field::placeholder {
  font-family: var(--header3_p);
  font-size: var(--fsizep);
  text-transform: uppercase;
}

.search-modal .search-form label {
  width: auto;
}

.toggle.search-untoggle {
  border: 2px solid var(--colgold);
  margin: 20px 10px;
  padding-inline: 15px;
}

.toggle.search-untoggle svg.svg-icon,
.toggle.search-untoggle svg.svg-icon polygon,
.toggle.sub-menu-toggle svg.svg-icon,
.toggle.sub-menu-toggle svg.svg-icon polygon {
  fill: var(--colgold);
}

/* 3.2.2.2 - MENU MODULAR */

.mobile-menu li.menu-item {
  border-color: var(--colgold);
  color: var(--colgold);
  font-family: var(--header3_p);
  font-size: var(--fsize3);
  font-weight: 600;
  text-transform: uppercase;
}

.close-nav-toggle span.toggle-text {
  text-transform: uppercase;
  font-family: var(--header3_p);
}

.modal-menu a,
.mobile-menu .modal-menu li.menu-item div.ancestor-wrapper a {
  color: var(--colgold);
  text-decoration: none;
}

div.ancestor-wrapper a:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.modal-menu li.menu-item {
  border-width: 2px 2px 0 2px;
}

.modal-menu li.menu-item:last-child {
  border-width: 2px;
}

.sub-menu.active li.menu-item,
.sub-menu.active li.menu-item:last-child {
  border-width: 2px 0 0 1rem;
}

.mobile-menu .modal-menu div.ancestor-wrapper a {
  padding-left: 2.5rem;
}

/* 4.0.0 - FOOTER */

.footer-nav-widgets-wrapper.header-footer-group {
  background-color: var(--coldarkgreen);
  text-align: center;
}

.footer-nav-widgets-wrapper.header-footer-group h3 {
  font-size: var(--fsizep);
  font-weight: 600;
  color: var(--colgold);
}

.footer-nav-widgets-wrapper.header-footer-group p {
  text-transform: uppercase;
  color: var(--colgold);
}

.footer-nav-widgets-wrapper .wp-block-columns .wp-block-column {
  margin-block-end: 30px;
}
.footer-nav-widgets-wrapper .wp-block-columns .wp-block-column:last-child {
  margin-block-end: 0;
}

#site-footer.header-footer-group {
  background-color: var(--coldarkgreen);
}

.footer-widgets-outer-wrapper {
  border: none !important;
}

.footer-credits p,
#site-footer a,
#site-footer span.to-the-top-long,
.footer-nav-widgets-wrapper .wp-block-column p a {
  color: var(--colgold);
  text-decoration: none;
}

.footer-nav-widgets-wrapper .wp-block-column p a:hover {
  text-decoration: underline;
}

#site-footer .section-inner {
  flex-direction: column-reverse;
  text-align: center;
}

#site-footer .section-inner .footer-credits {
  margin: 20px auto 0;
}

#site-footer .section-inner .footer-credits p {
  text-transform: uppercase;
  font-weight: 600;
}

#site-footer .footer-copyright {
  text-align: center;
}

.footer-credits .powered-by-wordpress {
  display: block;
}

#site-footer .to-the-top {
  margin-inline: auto;
}

/* 4.X.0 - ICONS */

/* 4.x.1 - BUTIK OG ÅBNINGSTID IKONER */

.wp-block-column.butik p::before {
  display: block;
  position: relative;
  height: 30px;
  width: 30px;
  margin-block: 20px 10px;
  margin-inline: auto;
}

.wp-block-column.butik p.adresse::before {
  content: url("https://www.madvigux.dk/kleines/wp-content/themes/kleines/template-parts/icons/icon_pin.svg");
}
.wp-block-column.butik p.tid::before {
  content: url("https://www.madvigux.dk/kleines/wp-content/themes/kleines/template-parts/icons/icon_watch.svg");
}
.wp-block-column.butik p.nummer::before {
  content: url("https://www.madvigux.dk/kleines/wp-content/themes/kleines/template-parts/icons/icon_phone.svg");
}

/* 4.x.2 - SOME IKONER */

.footer-widgets ul.wp-block-social-links li.wp-social-link {
  background-color: transparent;
}
.footer-widgets ul.wp-block-social-links li.wp-social-link svg {
  fill: var(--colgold);
  width: 30px;
  height: 30px;
}

.footer-widgets ul.wp-block-social-links {
  justify-content: center;
  margin: 0;
}

/* 5.0.0 - PAGES


    /* 5.1.0 - FONT PAGE */

/* 5.2.0 - SMYKKER  */

body main .is-layout-flex > * {
  margin: 0 auto;
}

.card {
  padding: 0px;
  margin: 15px 10px;
  border-radius: var(--card_border_radius);
}

.card img {
  object-fit: cover;
  height: 100%;
}

main .wp-block-columns.alignfull,
.alignfull:not(.has-background) .wp-block-columns {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* 5.3.0 - OM KLEINES */

/* 5.4.0 - GAVEKORT TIL KLEINES */

/* 5.5.0 - KONTAKT */

/* 6.0.0 - MEDIA Q MIN-WIDTH 500PX */
@media screen and (width >= 500px) {
}

/* 7.0.0 - MEDIA Q MIN-WIDTH 767PX */
@media screen and (width >=700px) {
  /* 7.2.2.0 P */
  p {
    max-width: 65ch;
  }

  /* 7.3.2.0 - SEARCH MODULAR */

  .search-modal.show-modal.active {
    background: none;
    position: static;
    bottom: auto;
    width: 300px;
    right: 0;
    left: auto;
  }

  .search-modal-inner.modal-inner {
    background-color: var(--coldarkgreen);
    position: absolute;
    right: 0;
  }

  .menu-wrapper.section-inner {
    width: 100%;
  }

  .menu-modal .menu-modal-inner .menu-wrapper {
    margin-right: 0;
    margin-left: 0;
  }

  .toggle.close-nav-toggle {
    padding-right: 20px;
  }

  /* 7.X.X.X - FOOTER */

  .footer-widgets-outer-wrapper {
    padding-bottom: 0;
  }

  .footer-nav-widgets-wrapper .footer-widgets {
    width: 100%;
  }

  .footer-nav-widgets-wrapper .footer-widgets .wp-block-columns {
    flex-wrap: nowrap !important;
  }

  .footer-nav-widgets-wrapper .footer-widgets .wp-block-columns .wp-block-column {
    min-width: 200px;
  }

  .footer-nav-widgets-wrapper .footer-widgets .wp-block-columns .wp-block-column:first-child p {
    line-height: 1.8;
  }
  .footer-nav-widgets-wrapper.header-footer-group {
    text-align: left;
  }

  .footer-widgets ul.wp-block-social-links {
    justify-content: flex-start;
  }

  .wp-block-column.butik p::before {
    margin-inline: 0;
  }
}

@media screen and (width >= 1000px) {
  /* HEADER */
  #site-header .header-inner {
    flex-direction: column;
    justify-content: center;
    width: auto;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }

  .header-inner .header-titles-wrapper {
    margin-right: 0;
    margin-inline: auto;
    width: 100%;
    max-width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--colgold);
  }

  .header-navigation-wrapper .primary-menu li.menu-item a {
    color: var(--colgold);
    font-family: var(--header3_p);
    text-transform: uppercase;
    font-size: var(--fsizep);
    font-weight: 600;
  }

  .header-navigation-wrapper .primary-menu li.menu-item li.sub-menu a {
    font-weight: 400;
  }

  .header-inner .header-navigation-wrapper .header-toggles.hide-no-js {
    position: absolute;
    right: 100px;
    top: 40px;
  }

  #site-header .search-toggle-wrapper::before {
    background: transparent;
  }

  #site-header span.icon::before,
  #site-header span.icon::after {
    background-color: var(--colgold);
  }

  #site-header .header-navigation-wrapper {
    padding-block-start: 28px;
    width: 100%;
  }

  #site-header .primary-menu {
    justify-content: space-around;
    max-width: 1000px;
    margin-inline: auto;
  }

  #site-header .sub-menu {
    width: auto;
    border-radius: 0;
    background-color: var(--coldarkgreen);
    border: 2px solid var(--colgold);
    padding: 0;
  }

  #site-header .sub-menu:after {
    background-color: transparent;
    border-bottom-color: transparent;
  }

  #site-header .menu-item-has-children:first-child .sub-menu {
    transform: translate(99px, 8px);
  }

  #site-header .menu-item-has-children:nth-child(2) .sub-menu {
    transform: translate(50px, 8px);
  }

  #site-header .sub-menu li.menu-item {
    border-bottom: 2px solid var(--colgold);
  }

  #site-header .sub-menu li.menu-item:last-child {
    border-bottom: none;
  }

  #site-header .sub-menu li.menu-item a {
    padding: 2rem;
  }
}
