/* Styles for Kleines Child Theme

Search for the terms in the Table of content, to find the info you are lookin for. 

____________________________________________________

TABLE OF CONTENT
1.0.0 - ROOT
    1.1.0 VARIABLES
        1.1.1 COLORS
        1.1.2 FONTS
        1.1.3 PINTEREST GRID VARIABLES

2.0.0 - GENEREL STYLING 
    2.1.0 - HEADERS H1-H3
      2.1.1 H1 ICONS
    2.2.0 - P, OL og LI
    2.3.0 - A
    2.4.0 - POLY FONT COLOR EDITS
    2.5.0 - BUTTONS
        2.5.1 PRIMARY BUTTON
        2.5.2 SECONDARY BUTTON
        2.5.3 - FILTER BUTTONS
    2.6.0 - FORM
    2.7.0 - POLYGON / CLIP PATH
    2.8.0 - LIST STYLE

3.0.0 - HEADER
    3.1.0 - SEARCH MODULAR
      3.1.1 SEARCH ICON
      3.1.2 - MODULAR
        3.1.2.1 - SEARCH MODULAR
        3.2.2.2 - MENU MODULAR

4.0.0 - FOOTER
  4.1.0 - ICONS
    4.1.1 - BUTIK OG ÅBNINGSTID IKONER
    4.1.2 - SOME IKONER

5.0.0 - PAGES
    5.1.0 - FRONT PAGE
    5.2.0 - SMYKKER
    5.3.0 - SINGLE SMYKKER
      5.3.1 - POP UP
    5.4.0 - STØRRELSESGUIDE 
    5.5.0 - GAVEKORT TIL KLEINES

6.0.0 - MEDIA Q
  6.1.0 - WIDTH < 700PX
  6.2.0 - WIDTH >= 500PX
  6.3.0 - WIDTH >= 700PX
  6.4.0 - WIDTH >= 782PX
  6.5.0 - 700px <= WIDTH < 1000PX
  6.6.0 - WIDTH <= 1000PX
  6.7.0 - WIDTH >= 1000PX
  6.8.0 - WIDTH >= 1221PX
____________________________________________________

/**** 1.0.0 - ROOT ****/
* {
  /*** 1.1.0 - VARIABLES ***/

  /** 1.1.1 - COLORS **/
  --colwhite: #faf9f5;
  --colblack: #303030;
  --colyellow: #faf8ea;
  --colyellow: #faf8ea;
  --coldarkgreen: #2f605a;
  --colgold: #edd89d;
  --collightgreen: #a5c6be;
  --colpink: #fcd9d3;

  /** 1.1.2 - Fonts  **/
  --header1_2: playfair-display, serif;
  --header3_p: montserrat, sans-serif;
  --fsize1: 48px;
  --fsize2: 40px;
  --fsize3: 24px;
  --fsizebut: 20px;
  --fsizep: 16px;

  scroll-behavior: smooth;

  box-sizing: border-box;

  font-size: 16px;

  /** 1.1.3 PINTEREST GRID VARIABLES **/
  --card_width: 250px;
  --card_border_radius: 16px;
  --row_increment: 10px;
  --card_small: 36;
  --card_medium: 43;
  --card_large: 55;
}

/****2.0.0 - GENEREL STYLING ****/

.entry-content,
body article.page {
  max-width: 1500px;
  margin-inline: auto;
}

.entry-content > .wp-block-column {
  padding-bottom: 30px;
}

.entry-content + .is-layout-flex.wp-container-6.wp-block-columns,
.entry-content + .is-layout-flex.wp-container-10.wp-block-columns,
.home div.is-layout-flex.wp-container-10.wp-block-columns.alignfull,
.home div.is-layout-flex.wp-container-20.wp-block-columns {
  margin: 0 auto 20px;
}

ol {
  margin-inline-start: 0;
}

/** 2.1.0 - HEADERS H1-H3 ***/
h1,
.entry-content h1,
div.entry-content .wp-block-column h1,
h1.entry-title {
  font-family: var(--header1_2);
  font-weight: 800;
  font-size: var(--fsize1);
  color: var(--coldarkgreen);
  margin: 30px auto 20px;
  padding-block: 18px 26px;
  border-top: 2px solid var(--coldarkgreen);
  border-bottom: 2px solid var(--coldarkgreen);
  max-width: 85vw;
}

h2,
.entry-content h2,
#site-content .entry-content h2 {
  text-transform: uppercase;
  font-family: var(--header1_2);
  font-weight: 600;
  font-size: var(--fsize2);
  color: var(--coldarkgreen);
}

h3,
.entry-content h3 {
  font-family: var(--header3_p);
  font-weight: 600;
  font-size: var(--fsize3);
  text-transform: uppercase;
  color: var(--coldarkgreen);
}

.home .entry-content .wp-container-13 h3 {
  text-align: center;
  margin-inline: auto;
}

/** 2.1.1 - H1 ICONS **/

div.wp-block-column h1::before,
div.wp-block-column.relative h1::before,
div.header_h1 h1::before,
.relative h1.om-kleines--h1::before {
  content: url("https://www.madvigux.dk/kleines/wp-content/themes/kleines/template-parts/icons/krypStroke.svg");
  width: 30px;
  height: 40px;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 50%;
}

.relative > .wp-block-column {
  position: relative;
}

/*** 2.2.0 - P, OL og LI ***/
p,
.footer-credits p,
.wp-block-column ol li {
  font-family: var(--header3_p);
  font-weight: 400;
  font-size: var(--fsizep);
  color: var(--coldarkgreen);
  max-width: 65ch;
  margin-inline: auto;
}

.entry-content p,
.entry-content .koeb-gavekort li {
  margin-inline: auto;
}

.koeb-gavekort ol {
  padding-inline-start: 20px !important;
}

/*** 2.3.0 - A ***/
a {
  font: var(--body);
  font-size: var(--fsizep);
  text-decoration: underline;
  color: var(--colgold);
  transition: all 0.25ms ease-in-out;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
}

a.link-stoerrelsesguide {
  font-weight: 600;
  color: var(--coldarkgreen);
  text-decoration: none;
}

a.link-stoerrelsesguide:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}

/*** 2.4.0 - POLY FONT COLOR EDITS ***/
#site-content .poly_green h3,
#site-content .poly_green p,
#site-content .poly_green a {
  color: var(--colblack);
}

div:has(> h3.product_box_poly) {
  clip-path: polygon(3.42% -11.11%, 67.64% 13.24%, 101.23% 0.38%, 103.52% 100.12%, -2.47% 99.05%, -2.19% 14.33%, -4.1% 0.15%);
}
/*** 2.5.0 - BUTTONS ****/

/** 2.5.1 - PRIMARY BUTTON **/

button.primary {
  border: none;
  background-color: var(--coldarkgreen);
  font-family: var(--header3_p);
  font-weight: 600;
  font-size: var(--fsizebut);
  color: var(--colgold);
  text-transform: uppercase;
  padding: 13px 32px;
  transition: all 0.25ms ease-in-out;
}
button.primary:hover,
button.primary:active,
button.primary:focus {
  border: 1px solid var(--coldarkgreen);
  background-color: var(--colgold);
  color: var(--coldarkgreen);
}

/** 2.5.2 - SECONDARY BUTTON **/

button.secondary {
  border: var(--coldarkgreen);
  background-color: none;
  font-family: var(--header3_p);
  font-weight: 600;
  font-size: var(--fsizebut);
  font-size: var(--fsizebut);
  color: var(--coldarkgreen);
  padding: 18px 32px;
  transition: all 0.25ms ease-in-out;
}
button.secondary:hover,
button.secondary:active,
button.secondary:focus {
  border: 2px solid var(--colblack);
  color: var(---coldark);
}

/** 2.5.3 - FILTER BUTTONS **/

#filter_buttons button,
#main--single-smykke .put_in_basket_btn,
.home #site-content .wp-element-button {
  background-color: var(--coldarkgreen);
  border: 1px solid var(--coldarkgreen);
  font-family: var(--header3_p);
  font-size: var(--fsizep);
  text-transform: uppercase;
  color: var(--colgold);
  font-weight: 600;
  transition: all 250ms ease-in-out;
  padding: 12px 24px;
}

#filter_buttons button:hover,
#filter_buttons button.chosen,
#main--single-smykke .put_in_basket_btn:hover,
.home #site-content .wp-element-button:hover {
  background-color: var(--colgold);
  color: var(--coldarkgreen);
  font-weight: 600;
}

#filter_buttons button.chosen,
#filter_buttons button:active,
#main--single-smykke .put_in_basket_btn:active,
.home #site-content .wp-element-button:active {
  font-weight: 600;
  text-decoration: underline;
  text-underline-offset: 3px;
}

#main--single-smykke .put_in_basket_btn {
  max-width: 200px;
  justify-self: end;
  margin-right: 10px;
}

#main--single-smykke .put_in_basket_btn:hover {
  text-decoration: none;
}

/*** 2.6.0 - FORM ***/

div.wpforms-container-full .wpforms-form label.wpforms-field-label,
div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
div.wpforms-container-full .wpforms-form div.wpforms-field-description,
div.wpforms-container-full .wpforms-form ul,
div.wpforms-container-full .wpforms-form ul li,
div.wpforms-container-full .wpforms-form div.wpforms-field textarea {
  font-family: var(--header3_p);
  font-size: var(--fsizep);
  color: var(--colblack);
}

div.wpforms-container-full .wpforms-form input::placeholder,
div.wpforms-container-full .wpforms-form div.wpforms-field textarea::placeholder {
  font-family: var(--header3_p);
  font-size: var(--fsizep);
  color: rgba(47, 96, 90, 0.7);
}

div.wpforms-container div.wpforms-submit-container button.wpforms-submit,
.gavekort-knapper .wp-block-buttons .wp-block-button a {
  border: none;
  background-color: var(--coldarkgreen);
  font-family: var(--header3_p);
  font-weight: 600;
  font-size: var(--fsizep);
  color: var(--colgold);
  text-transform: uppercase;
  padding: 12px 20px;
  transition: all 250ms ease-in-out;
}

div.wpforms-container div.wpforms-submit-container button.wpforms-submit:hover,
.gavekort-knapper .wp-block-buttons .wp-block-button a:hover,
div.wpforms-container div.wpforms-submit-container button.wpforms-submit:active,
.gavekort-knapper .wp-block-buttons .wp-block-button a:active,
div.wpforms-container div.wpforms-submit-container button.wpforms-submit:focus,
.gavekort-knapper .wp-block-buttons .wp-block-button a:focus {
  border: 1px solid var(--coldarkgreen);
  background-color: var(--colgold);
  color: var(--coldarkgreen);
  padding: 11px 19px;
}

/*** 2.7.0 - POLYGON / CLIP PATH ***/

#site-content .poly_pink,
#site-content .poly_green {
  padding-inline: 1rem !important;
}

/*** 2.8.0 - LIST-STYLE ***/

.list-style {
  font-family: var(--header3_p);
  font-weight: 400;
  font-size: var(--fsizep);
  color: var(--coldarkgreen);
  list-style: square;
}
.entry-content > h1.has-text-align-center.h1_stoerrelse {
  margin-top: 40px;
}

/**** 3.0.0 - HEADER ****/

#site-header.header-footer-group {
  background-color: var(--coldarkgreen);
}

/*** 3.1.0 - SEARCH MODULAR ***/

/** 3.1.1 - SEARCH ICON **/

.nav-toggle .toggle-icon svg path,
#site-header .search-toggle .toggle-icon svg path,
#site-header .search-toggle .toggle-inner svg path,
.toggle.close-nav-toggle.fill-children-current-color {
  fill: var(--colgold);
  color: var(--colgold);
}

.toggle.nav-toggle .toggle-inner span.toggle-text,
.toggle.search-toggle .toggle-inner span.toggle-text {
  color: var(--colgold);
}

/** 3.1.2 - MODULAR **/

/* 3.2.2.1 - SEARCH MODULAR */

.search-modal {
  top: -9999rem;
  z-index: 100;
  transition: opacity 0.2s linear, left 0s 0.2s linear, top 0s 0.2s linear;
}

.search-modal-inner.modal-inner {
  z-index: 100;
}

.search-modal.show-modal.active {
  top: 117.45px;
}

.search-modal.show-modal.active .search-modal-inner {
  box-shadow: 0 3px 5px 0 rgb(0 0 0 / 8%);
}

.search-modal-inner.modal-inner,
.menu-modal-inner.modal-inner {
  background-color: var(--coldarkgreen);
}

.search-modal-inner div.section-inner {
  justify-content: space-around;
}

.search-modal .search-form {
  justify-content: center;
}

.search-modal .search-form .search-field {
  background-color: var(--colwhite);
  font-family: var(--header3_p);
  font-size: var(--fsizep);
  text-transform: uppercase;
  width: 300px;
  height: 5rem;
  margin-block: 2rem;
  margin-inline-start: 20px;
  border: 2px solid var(--colgold);
}

.search-modal .search-form .search-field::placeholder {
  font-family: var(--header3_p);
  font-size: var(--fsizep);
  text-transform: uppercase;
}

.search-modal .search-form label {
  width: auto;
}

.toggle.search-untoggle {
  border: 2px solid var(--colgold);
  margin: 20px 10px;
  padding-inline: 15px;
}

.toggle.search-untoggle svg.svg-icon,
.toggle.search-untoggle svg.svg-icon polygon,
.toggle.sub-menu-toggle svg.svg-icon,
.toggle.sub-menu-toggle svg.svg-icon polygon {
  fill: var(--colgold);
}
/* 3.2.2.2 - MENU MODULAR */

.mobile-menu li.menu-item {
  border-color: var(--colgold);
  color: var(--colgold);
  font-family: var(--header3_p);
  font-size: var(--fsize3);
  font-weight: 600;
  text-transform: uppercase;
}

.close-nav-toggle span.toggle-text {
  text-transform: uppercase;
  font-family: var(--header3_p);
}

.modal-menu a,
.mobile-menu .modal-menu li.menu-item div.ancestor-wrapper a {
  color: var(--colgold);
  text-decoration: none;
}

div.ancestor-wrapper a:hover {
  cursor: pointer;
  text-decoration: underline !important;
}

.modal-menu li.menu-item {
  border-width: 2px 2px 0 2px;
}

.modal-menu li.menu-item:last-child {
  border-width: 2px;
}

.sub-menu.active li.menu-item,
.sub-menu.active li.menu-item:last-child {
  border-width: 2px 0 0 1rem;
}

.mobile-menu .modal-menu div.ancestor-wrapper a {
  padding-left: 2.5rem;
}

/**** 4.0.0 - FOOTER ****/

.footer-nav-widgets-wrapper.header-footer-group {
  background-color: var(--coldarkgreen);
  text-align: center;
}

.footer-nav-widgets-wrapper.header-footer-group h3 {
  font-size: var(--fsizep);
  font-weight: 600;
  color: var(--colgold);
}

.footer-nav-widgets-wrapper.header-footer-group p {
  text-transform: uppercase;
  color: var(--colgold);
}

.footer-nav-widgets-wrapper .wp-block-columns .wp-block-column {
  margin-block-end: 30px;
}
.footer-nav-widgets-wrapper .wp-block-columns .wp-block-column:last-child {
  margin-block-end: 0;
}

#site-footer.header-footer-group {
  background-color: var(--coldarkgreen);
  border: none;
}

.footer-widgets-outer-wrapper {
  border: none !important;
}

.footer-credits p,
#site-footer a,
#site-footer span.to-the-top-long,
.footer-nav-widgets-wrapper .wp-block-column p a {
  color: var(--colgold);
  text-decoration: none;
}

.footer-nav-widgets-wrapper .wp-block-column p a:hover {
  text-decoration: underline;
}

#site-footer .section-inner {
  flex-direction: column-reverse;
  text-align: center;
}

#site-footer .section-inner .footer-credits {
  margin: 20px auto 0;
}

#site-footer .section-inner .footer-credits p {
  text-transform: uppercase;
  font-weight: 600;
}

#site-footer .footer-copyright {
  text-align: center;
}

.footer-credits .powered-by-wordpress {
  display: block;
}

#site-footer .to-the-top {
  margin-inline: auto;
}

/*** 4.1.0 - ICONS ***/

/** 4.1.1 - BUTIK OG ÅBNINGSTID IKONER **/

.wp-block-column.butik p::before {
  display: block;
  position: relative;
  height: 30px;
  width: 30px;
  margin-block: 20px 10px;
  margin-inline: auto;
}

.wp-block-column.butik p.adresse::before {
  content: url("https://www.madvigux.dk/kleines/wp-content/themes/kleines/template-parts/icons/icon_pin.svg");
}
.wp-block-column.butik p.tid::before {
  content: url("https://www.madvigux.dk/kleines/wp-content/themes/kleines/template-parts/icons/icon_watch.svg");
}
.wp-block-column.butik p.nummer::before {
  content: url("https://www.madvigux.dk/kleines/wp-content/themes/kleines/template-parts/icons/icon_phone.svg");
}

/** 4.1.2 - SOME IKONER **/

.footer-widgets ul.wp-block-social-links li.wp-social-link {
  background-color: transparent;
}
.footer-widgets ul.wp-block-social-links li.wp-social-link svg {
  fill: var(--colgold);
  width: 30px;
  height: 30px;
}

.footer-widgets ul.wp-block-social-links {
  justify-content: center;
  margin: 0;
}

/**** 5.0.0 - PAGES ***/

/*** 5.1.0 - FRONT PAGE ***/

#site-content header.entry-header {
  display: none;
}

.home #site-content .post-inner.thin {
  padding-top: 0;
}

.home #site-content .post-inner.thin .entry-content > div:first-child {
  margin-top: 30px;
}

.home #site-content .post-inner.thin .entry-content > div:nth-child(2) > div > div > div > div {
  padding: 0;
}

.home #site-content .post-inner.thin .entry-content > div:nth-child(2) > div > div > div .wp-block-cover__inner-container,
div.display-images div.wp-block-column div.wp-block-cover div.wp-block-cover__inner-container {
  width: 100%;
  background-color: var(--coldarkgreen);
  padding: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 250ms ease-in-out;
}

.home #site-content .post-inner.thin .entry-content > div:nth-child(2) > div > div > div .wp-block-cover__inner-container h3,
div.display-images div.wp-block-column div.wp-block-cover div.wp-block-cover__inner-container h3 {
  margin: 3rem auto;
  color: var(--colgold);
  transition: all 250ms ease-in-out;
}

.home #site-content .post-inner.thin .entry-content > div:nth-child(2) > div > div div.wp-block-cover:hover .wp-block-cover__inner-container,
div.display-images div.wp-block-column div.wp-block-cover:hover div.wp-block-cover__inner-container {
  background-color: var(--colgold);
}
.home #site-content .post-inner.thin .entry-content > div:nth-child(2) > div > div div.wp-block-cover:hover .wp-block-cover__inner-container h3,
div.display-images div.wp-block-column div.wp-block-cover:hover div.wp-block-cover__inner-container h3 {
  color: var(--coldarkgreen);
}

div.wp-block-column p.link-tekst a {
  font-size: var(--fsizep);
  text-decoration: none;
  color: var(---coldark);
}

div.wp-block-column p.link-tekst a:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

/*** 5.2.0 - SMYKKER  ***/

.loopview h3 {
  text-align: center;
}

body main .is-layout-flex > * {
  margin: 0 auto;
}

.card {
  padding: 0px;
  margin: 15px 10px 50px;
  border-radius: var(--card_border_radius);
}

.card img {
  object-fit: cover;
  height: 100%;
}

.wp-block-columns.alignfull,
.alignfull:not(.has-background) .wp-block-columns {
  padding-left: 1rem;
  padding-right: 1rem;
}

.loopview h3,
div.header_h1 h1 {
  text-align: center;
}

#filter_buttons,
.gavekort-knapper .wp-block-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#filter_buttons button,
.gavekort-knapper .wp-block-buttons .wp-block-button a {
  margin: 0 10px 10px 0;
  padding: 14px 20px;
}
#filter_buttons button.chosen {
  padding: 14px 19px;
}

.product.card {
  display: grid;
}

.product_quick_info {
  grid-column: 1;
  grid-row: 3;
  place-content: end end;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.product_name {
  text-transform: uppercase;
}
.product_price {
  place-self: end end;
  font-weight: 700;
}

.like_icon,
.overlay {
  display: none;
}

#site-content .wp-block-button {
  margin-inline: auto;
  margin-top: 20px;
}

/*** 5.3.0 - SINGLE SMYKKER ***/

main#main--single-smykke div.wp-block-columns section.content_shape div.product_info {
  padding: 30px;
  margin: 15px auto 0;
}

#main--single-smykke .product_info {
  position: relative;
}

.product_video,
#popup-container .pop_product_video {
  width: 100% !important;
  height: auto;
}

#product_pics .product_pic,
#popup-container .pop_product_pic {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

#main--single-smykke .product_info .product_name {
  margin-top: 0;
  padding-block: 5px 10px;
  border-top: 2px solid var(--coldarkgreen);
  border-bottom: 2px solid var(--coldarkgreen);
  max-width: 85%;
  margin-inline: auto;
  text-align: center;
}

#main--single-smykke .product_name::before {
  content: url("https://www.madvigux.dk/kleines/wp-content/themes/kleines/template-parts/icons/krypStroke.svg");
  width: 25px;
  height: 35px;
  z-index: 20;
  position: absolute;
  top: 0;
  left: 50%;
}

#main--single-smykke .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-end;
}
#materials_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
}

#materials_container .material_container--inner {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

#materials_container .material_pic {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.product_info p.om-smykket--text {
  margin: 0;
  font-weight: 600;
}

.product_info .price {
  text-transform: none;
}

#materials_container .material_name {
  margin: 0;
}

.product_info h3.price {
  margin: 20px auto 10px;
}

/** 5.3.1 - POP UP **/

.hidden {
  display: none !important;
}

#popup-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(47, 96, 90, 0.5);
  z-index: 500;
  display: flex;
}

#popup-container #close {
  position: fixed;
  padding: 20px;
  font-size: 2.5em;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  top: 4%;
  left: 4%;
}

#popup-container .popup-container--inner {
  background-color: var(--colyellow);
  width: 80vw;
  height: fit-content;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin: 150px auto auto;
  border-radius: 5px;
  box-shadow: 3px 3px 8px var(--colblack);
}

#popup-container .popup-container--inner .popup-container--content {
  width: 100%;
  height: auto;
  margin: auto;
  padding: 20px;
}

/*** 5.4.0 - STOERRELSESGUIDE ***/

#site-content .stoerrelsesguide {
  max-width: 1500px;
}

#site-content .stoerrelsesguide p,
#site-content .stoerrelsesguide li {
  margin-inline: auto;
}

.stoerrelsesguide > .wp-block-column > .relative {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* 5.4.0 - GAVEKORT TIL KLEINES */

.alignfull:not(.has-background) div.wp-block-columns .gavekort-knapper {
  margin-block: 0;
}

#site-content > article > .post-inner.thin {
  padding: 0;
}

/**** 6.0.0 -  MEDIA Q ****/

/*** 6.1.0 - WIDTH < 700PX ***/
@media screen and (width < 700px) {
  #product_pics {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  #materials_container {
    display: flex;
    flex-direction: column;
  }
  .poly_green {
    clip-path: polygon(0px 7%, 32.48% 3px, 99.49% 7.79%, 99.29% 97.02%, 3px 99.98%, 0px 30%);
    background-color: #a5c6be;
    padding-block-start: 120px;
    padding-block-end: 70px;
    margin-block-end: 0 !important;
  }

  .poly_pink {
    clip-path: polygon(0px 3.5%, 58.45% 6px, 99.75% 1.84%, 99.5% 96.15%, 2px 99.1%, 0px 30%);
    background-color: #fcd9d3;
    padding-block-start: 80px;
    padding-block-end: 80px;
    margin-block-end: 0 !important;
  }
}

/*** 6.2.0 - WIDTH >= 500PX ***/
@media screen and (width >= 500px) {
  .poly_green {
    -webkit-clip-path: polygon(20.38% 5.89%, 100.68% 17.9%, 103.47% 89.98%, -2.47% 99.05%, -2.19% 14.33%);
    clip-path: polygon(20.38% 5.89%, 100.68% 17.9%, 103.47% 89.98%, -2.47% 99.05%, -2.19% 14.33%);
    background-color: #a5c6be;
    padding-block-start: 200px;
    padding-block-end: 150px;
    margin-block-end: 0 !important;
  }

  .poly_pink {
    -webkit-clip-path: polygon(76.24% 0.92%, 100.68% 17.9%, 103.47% 89.98%, -2.47% 99.05%, -2.19% 14.33%);
    clip-path: polygon(76.24% 0.92%, 100.68% 17.9%, 103.47% 89.98%, -2.47% 99.05%, -2.19% 14.33%);
    background-color: #fcd9d3;
    padding-block-start: 200px;
    padding-block-end: 150px;
    margin-block-end: 0 !important;
  }
}

/*** 6.3.0 - WIDTH >= 700PX ***/
@media screen and (width >=700px) {
  p {
    max-width: 65ch;
  }

  .search-modal.show-modal.active {
    background: none;
    position: static;
    bottom: auto;
    width: 300px;
    right: 0;
    left: auto;
  }

  .search-modal-inner.modal-inner {
    background-color: var(--coldarkgreen);
    position: absolute;
    right: 0;
  }

  .menu-wrapper.section-inner {
    width: 100%;
  }

  .menu-modal .menu-modal-inner .menu-wrapper {
    margin-right: 0;
    margin-left: 0;
  }

  .toggle.close-nav-toggle {
    padding-right: 20px;
  }

  .footer-widgets-outer-wrapper {
    padding-bottom: 0;
  }

  .footer-nav-widgets-wrapper .footer-widgets {
    width: 100%;
  }

  .footer-nav-widgets-wrapper .footer-widgets .wp-block-columns {
    flex-wrap: nowrap !important;
  }

  .footer-nav-widgets-wrapper .footer-widgets .wp-block-columns .wp-block-column {
    min-width: 200px;
  }

  .footer-nav-widgets-wrapper .footer-widgets .wp-block-columns .wp-block-column:first-child p {
    line-height: 1.8;
  }
  .footer-nav-widgets-wrapper.header-footer-group {
    text-align: left;
  }

  .footer-widgets ul.wp-block-social-links {
    justify-content: flex-start;
  }

  .wp-block-column.butik p::before {
    margin-inline: 0;
  }

  .loopview {
    max-width: 1200px;
  }

  #filter_buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .pin_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: var(--row_increment);
    justify-content: center;
  }
  .card {
    margin: 15px 10px;
  }

  .card:nth-child(1n) {
    grid-row-end: span var(--card_small);
  }
  .card:nth-child(2n) {
    grid-row-end: span var(--card_medium);
  }

  .card:nth-child(3n) {
    grid-row-end: span var(--card_large);
  }

  .wp-block-columns.alignfull,
  .alignfull:not(.has-background) .wp-block-columns {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .card img {
    object-fit: cover;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
  }

  .product_quick_info {
    grid-column: 1;
    grid-row: 1;
    place-content: end end;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10px 10px 0px;
  }

  .product_quick_info p {
    color: var(--colwhite);
  }

  .product_price {
    place-self: end end;
  }

  .card .like_icon {
    max-width: 50px;

    height: auto;
    place-self: start end;
  }

  .product.card {
    transition: all 250ms ease-out;
    overflow: hidden;
  }

  .card:hover {
    scale: 103%;
  }
  .like_icon,
  .overlay {
    display: block;
  }
}

/*** 6.4.0 - WIDTH >= 782PX ***/
@media screen and (width >= 782px) {
  /* FRONTPAGE */
  body.home #site-content .post-inner.thin .entry-content > div:first-child,
  body.home #site-content .post-inner.thin .entry-content > div:first-child > div > div {
    padding-left: 0;
  }
}

/*** 6.5.0 - 700px <= WIDTH < 1000PX ***/
@media screen and (700px <= width < 1000px) {
  #product_pics {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
}

/*** 6.6.0 - WIDTH <= 1000PX ***/
@media screen and (width <= 1000px) {
  #main--single-smykke .content_shape {
    padding-top: 0;
  }

  #product_pics {
    padding-inline: 30px;
  }
}

/*** 6.7.0 - WIDTH >= 1000PX ***/
@media screen and (width >= 1000px) {
  /* HEADER */
  #site-header .header-inner {
    flex-direction: column;
    justify-content: center;
    width: auto;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }

  .header-inner .header-titles-wrapper {
    margin-right: 0;
    margin-inline: auto;
    width: 100%;
    max-width: 100%;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--colgold);
  }

  .header-navigation-wrapper .primary-menu li.menu-item a {
    color: var(--colgold);
    font-family: var(--header3_p);
    text-transform: uppercase;
    font-size: var(--fsizep);
    font-weight: 600;
  }

  .header-navigation-wrapper .primary-menu li.menu-item li.sub-menu a {
    font-weight: 400;
  }

  .header-inner .header-navigation-wrapper .header-toggles.hide-no-js {
    position: absolute;
    right: 100px;
    top: 40px;
  }

  #site-header .search-toggle-wrapper::before {
    background: transparent;
  }

  #site-header span.icon::before,
  #site-header span.icon::after {
    background-color: var(--colgold);
  }

  #site-header .header-navigation-wrapper {
    padding-block-start: 28px;
    width: 100%;
  }

  #site-header .primary-menu {
    justify-content: space-around;
    max-width: 1000px;
    margin-inline: auto;
  }

  #site-header .sub-menu {
    width: auto;
    border-radius: 0;
    background-color: var(--coldarkgreen);
    border: 2px solid var(--colgold);
    padding: 0;
  }

  #site-header .sub-menu:after {
    background-color: transparent;
    border-bottom-color: transparent;
  }

  #site-header .menu-item-has-children:first-child .sub-menu {
    transform: translate(99px, 8px);
  }

  #site-header .menu-item-has-children:nth-child(2) .sub-menu {
    transform: translate(50px, 8px);
  }

  #site-header .sub-menu li.menu-item {
    border-bottom: 2px solid var(--colgold);
  }

  #site-header .sub-menu li.menu-item:last-child {
    border-bottom: none;
  }

  #site-header .sub-menu li.menu-item a {
    padding: 2rem;
  }

  /* OM KLEINES */

  div.entry-content > .alignfull:not(.wp-block-group.has-background) {
    margin-top: 1rem;
  }
  /* SINGLE VIEW */

  #main--single-smykke {
    max-width: 1500px;
    margin-inline: auto;
  }

  main#main--single-smykke .content_shape {
    padding-top: 0;
  }

  main#main--single-smykke div.wp-block-columns,
  main#main--single-smykke div.wp-block-columns div.wp-block-columns {
    padding-left: 0;
  }

  main#main--single-smykke div.wp-block-columns section.content_shape {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  #materials_container {
    display: flex;
    flex-direction: column;
  }

  main#main--single-smykke div.wp-block-columns section.content_shape div#product_pics {
    display: inline-block;
    width: 53%;
  }

  main#main--single-smykke div.wp-block-columns section.content_shape div.product_info {
    display: inline-block;
    width: 45%;
    padding: 20px 30px;
    background-color: var(--colpink);
    position: sticky;
    top: 15%;
  }

  #main--single-smykke .product_name::before {
    content: url("https://www.madvigux.dk/kleines/wp-content/themes/kleines/template-parts/icons/krypStroke.svg");
    width: 25px;
    height: 35px;
    z-index: 20;
    position: absolute;
    top: -10px;
    left: 50%;
  }

  .front_page_splash_poly {
    clip-path: polygon(44.63% -3.87%, 100.56% -4.33%, 92.33% 49.33%, 99.37% 99.09%, -2.47% 99.05%, -2.19% 14.33%, 0.05% -3.98%);
  }
}

/*** 6.8.0 - WIDTH >= 1221PX ***/
@media screen and (width >= 1221px) {
  #materials_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 10px;
  }
}
