/* Styles for Kleines Child Theme

Search for the terms in the Table of content, to find the info you are lookin for. 

____________________________________________________

TABLE OF CONTENT
1.0.0 - ROOT
    1.1.0 VARIABLES
        1.1.1 COLORS
        1.1.2 FONTS
2.0.0 - GENERELT 
    2.1.0 - HEADERS
        2.1.1 - H1
        2.1.2 - H2
        2.1.3 - H3
        2.1.4 - H4
    2.2.0 - P
    2.3.0 - BUTTONS
    2.3.0 - A
3.0.0 - HEADER
    3.1.0 - MAIN MENU NAVIGATION
4.0.0 - FOOTER
    4.1.0 - FOOTER CONTAINER
    4.2.0 - FOOTER TEXT
    4.3.0 - FOOTER INFO
        4.3.1 - LOGO
        4.3.2 - ADRESS
        4.3.3 - SOME
        4.3.4 - GO TO TOP
5.0.0 - FRONT PAGE
    5.1.0 - H2 SPACING CHANGE
    5.2.0 - LEAFLET MAP STYLING
6.0.0 - VORES HOLD
7.0.0 - NYHEDER OG ARRANGEMENTER
8.0.0 - BLIV MEDLEM
9.0.0 - FODBOLD
10.0.0 - OM NØRREBRO UNITED

X.X.X - MEDIA Q MIN-WIDTH 500PX
  1.0.0 - LOGO
  2.0.0 - ADDRESS
  3.0.0 - SOCIALS
  4.0.0 - TO TOP
  5.0.0 - HEADER
  6.0.0 - NYHEDER OG ARRANGEMENTER

X.X.X - MEDIA Q MIN-WIDTH 767PX
  1.0.0 - FODBOLD
  2.0.0 - VORES HOLD
  3.0 0 - OM NØRREBRO UNITED

____________________________________________________

/*** 1.0.0 - ROOT ***/
* {
  /* 1.1.0 - VARIABLES */
  
  /* 1.1.1 - COLORS */
  --colwhite: #faf9f5;
  --colblack: #181e1a;
  --colyellow: #faf8ea
  --coldarkgreen: #2f605a;
  --colgold: #edd89d;
  --collightgreen: #a5c6be;
  --colpink: #fcd9d3;

  /* 1.1.2 - Fonts  */
  --header1: 800 3rem playfair-display, serif;
  --header2: 600 2.5rem playfair-display, serif;
  --header3: 600 1.5rem montserrat, sans-serif;
  --body: 400 1rem montserrat, sans-serif;

  scroll-behavior: smooth;

  box-sizing: border-box;
}



